﻿@model IEnumerable<ApplicationWithCodeFirst.Models.Entities.Category> 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container mt-3">
        <p>Categoryies</p>
        <table class="table">
            <thead>
                <tr>
                    <th>CategoryName</th>
                    <th>FDescription</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model){
                    <tr>
                        <td>@item.CategoryName</td>
                        <td>@item.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

